[Unit]
Description=Matrix SFU Livekit
After=matrix_main.service

[Service]
User=root
Group=root
WorkingDirectory=/opt/matrix/misc/livekit
ExecStart=/opt/matrix/misc/livekit/livekit-server --config config.yaml
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
