
[Unit]
Description=Matrix Identity Service
After=matrix_main.service

[Service]
User=root
Group=root
WorkingDirectory=/opt/matrix/services/sydent
ExecStart=/opt/matrix/services/sydent/bin/python -m sydent.sydent
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
