
[Unit]
Description=Matrix Skype Bridge
After=matrix_main.service

[Service]
User=root
Group=root
WorkingDirectory=/opt/matrix/appservices/skype
ExecStart=/opt/matrix/appservices/skype/matrix-skype -c config.yaml
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
