
[Unit]
Description=Matrix Discord Bridge
After=matrix_main.service

[Service]
User=root
Group=root
WorkingDirectory=/opt/matrix/appservices/discord
ExecStart=/opt/matrix/appservices/discord/mautrix-discord -c config.yaml
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
